priority 1

snippet find_gtest "find_package GTest"
find_package(GTest REQUIRED)
#Add to target_link_libraries:
#	GTest::gtest_main
#	GTest::gtest
#	GTest::gmock
#Result Variables:
#	GTEST_FOUND: True if the framework was found.
#	GTEST_INCLUDE_DIRS: The directory containing GTest headers.
#	GTEST_LIBRARIES: Path to the GTest library
endsnippet
