priority 1

snippet cl "class .. (class)"
class ${1:`!p snip.rv = snip.basename or "name"`} {
public:
	${1/(\w+).*/$1/} (${2:arguments});
	virtual ~${1/(\w+).*/$1/} ();

private:
	${0:/* data */}
};
endsnippet

snippet ns "namespace .. (namespace)"
namespace${1/.+/ /m}${1:`!p snip.rv = snip.basename or "name"`} {
	${VISUAL}$0
}${1/.+/ \/* /m}$1${1/.+/ *\/ /m}
endsnippet


##############################
# GTest
##############################

snippet TEST "individual GTest named TestName in the test suite TestSuiteName"
TEST(${1:TestSuiteName}, ${2:TestName}) {
	$0
}
endsnippet

snippet TEST_F "GTest named TestName that uses the test fixture class TestFixtureName"
TEST_F(${1:TestFixtureName}, ${2:TestName}) {
	$0
}
endsnippet

snippet TEST_P "value-parameterized GTest named TestName that uses the test fixture class TestFixtureName"
TEST_P(${1:TestFixtureName}, ${2:TestName}) {
	$0
}
endsnippet




snippet TEST_PARAMETERIZED_INIT "init all for parameterized GTest"
struct ${1:TestSuiteName}Params {
	${2:Parameters}
};

class $1 : public testing::TestWithParam<$1Params>{};

TEST_P($1, Success) {
	$0
}

INSTANTIATE_TEST_SUITE_P(${3:ParametersCollectionName},
                         $1,
                         testing::Values($1Params{},
                                         $1Params{},
                                         $1Params{}
                                        ));
endsnippet
